@model IEnumerable<LDSLibrary.Models.Movie>

@{
    ViewData["Title"] = "LDS Movies";
}

<h1>LDS Movies <a asp-action="Create" class="btn btn-primary">Create New</a></h1>
<p class="mt-5">Sort by: <a class="btn btn-primary" href="?sort=date">Release Date</a> <a href="?">&#x274C;</a></p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-3 col-sm-5">
            <div class="row videodiv" videohref="@Html.DisplayFor(modelItem => item.Custom)">
                <div class="imgbg col-12">
                </div>
                <div class="col-12">
                    <b>@Html.DisplayFor(modelItem => item.Title)</b>
                    <hr>
                </div>
                <div class="col-12">
                    @Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(modelItem => item.ReleaseDate)
                </div>
                <div class="col-12">
                    @Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(modelItem => item.Genre)
                </div>
                <div class="col-12">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
